<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="box">
                <img src="{{url_for('static', filename='propredictlogo.png')}}" alt="logo image">
                <h1>Pro-Predictor</h1>
                <p>Get accurate forecasts to make smarter buying or selling decisions.</p>
                <a href="/predict-phone" class="icon-link">
                    Mobile Price Prediction
                </a>
                <a href="/predict-laptop" class="icon-link">
                    Laptop Price Prediction
                </a>
            </div>

        </div>
    </div>
    

</html>