<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Phone Price Predictor</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <span>
        <h1>Mobile Phone Price Predictor</h1>
    </span>
    <form action="/predict-phone" method="post">
        <label for="display_res_type">Display Type:</label>
        <select name="display_res_type" id="display_res_type">
            <option value="other">Other</option>
            <option value="Full HD+">Full HD+</option>
            <option value="Full HD+ AMOLED Display">Full HD+ AMOLED Display</option>
            <option value="Full HD">Full HD</option>
            <option value="HD">HD</option>
            <option value="HD+">HD+</option>
        </select>

        <label for="os">Operating System:</label>
        <select name="os" id="os">
            <option value="other">Other</option>
            <option value="Android 13">Android 13</option>
            <option value="Android 14">Android 14</option>
            <option value="Android 12">Android 12</option>
            <option value="Android 11">Android 11</option>
            <option value="Android 10">Android 10</option>
        </select>

        <label for="processor_brand">Processor Brand:</label>
        <select name="processor_brand" id="processor_brand">
            <option value="other">Other</option>
            <option value="Snapdragon">Snapdragon</option>
            <option value="Mediatek">Mediatek</option>
        </select>

        <label for="connectivity_feature">Connectivity Feature:</label>
        <input type="number" name="connectivity_feature" id="connectivity_feature" step="1" min="0">

        <label for="ram">RAM:</label>
        <input type="number" name="ram" id="ram" step="1" min="0">

        <label for="internal_storage">Internal Storage:</label>
        <input type="number" name="internal_storage" id="internal_storage" step="1" min="0">

        <label for="mobile_brand">Mobile Brand:</label>
        <select name="mobile_brand" id="mobile_brand">
            <option value="other">Other</option>
            <option value="Honor">Honor</option>
            <option value="Infinix">Infinix</option>
            <option value="Motorola">Motorola</option>
            <option value="OPPO">OPPO</option>
            <option value="POCO">POCO</option>
            <option value="realme">realme</option>
            <option value="REDMI">REDMI</option>
            <option value="Redmi">Redmi</option>
            <option value="SAMSUNG">SAMSUNG</option>
            <option value="vivo">vivo</option>
        </select>

        <label for="display_size_in_inches">Display Size (in inches):</label>
        <input type="number" name="display_size_in_inches" id="display_size_in_inches" step="0.1" min="0">

        <label for="back_camera">Back Camera:</label>
        <input type="number" name="back_camera" id="back_camera" step="0.1" min="0">

        <label for="front_camera">Front Camera:</label>
        <input type="number" name="front_camera" id="front_camera" step="0.1" min="0">

        <label for="battery_category">Battery Category:</label>
        <select name="battery_category" id="battery_category">
            <option value="4000-5000">4000-5000 mAh</option>
            <option value="5000-6000">5000-6000 mAh</option>
            <option value="<3000">Less than 3000 mAh</option>
            <option value="3000-4000">3000-4000 mAh</option>
        </select>

        <button class="predict_btn" type="submit" alt="Predict Price">
            <i>P</i>
            <i>r</i>
            <i>e</i>
            <i>d</i>
            <i>i</i>
            <i>c</i>
            <i>t</i>
            <i>P</i>
            <i>r</i>
            <i>i</i>
            <i>c</i>
            <i>e</i>
        </button>
    </form>
    {% if prediction_result %}
    <div class="prediction-box">
        <p>The expected price of the phone is {{ prediction_result }}</p>
    </div>
    {% endif %}



</body>

</html>